body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

table {
  border-collapse: collapse;
  text-align: center;
}

td,
th {
  width: 100px;
  height: 25px;
  border: 1px solid gray;
}

th {
  height: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}

button {
  width: 160px;
}
